<h2>- Quiz -</h2>
<br>
<p>{{currentQuestionNumber+1}} / {{totalQuestionNumber}}</p>
<!-- Question Sentence -->
<img class="rounded" src="http://localhost:3000/{{questionImages[currentQuestionNumber]}}" alt="Image of the question">
<p>{{ quizQuestions[currentQuestionNumber] }}</p>

<!-- Choices -->
<div class="choice-component" *ngFor="let choice of quizChoices">
  <input type="radio" id="{{choice}}" name="choice" [value]="choice" [(ngModel)]="userChoice">
  <label for="{{choice}}">{{choice}}</label>
</div>

<button class="btn btn-outline-success" type="submit" (click)="onClickSubmit()">Submit</button>
