<div class="user-list">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Email</th>
        <th>Password</th>
        <th>Is Admin</th>
        <th>Last Login Attempted</th>
        <th>Delete User</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.UserID }}</td>
        <td>{{ user.Email }}</td>
        <td>{{ user.Password }}</td>
        <td>{{ user.IsAdmin }}</td>
        <ng-container *ngIf="user.LastLoginDate">
          <td>{{ user.LastLoginDate | date: 'MM/dd/yyyy' }}</td>
        </ng-container>
        <ng-container *ngIf="!user.LastLoginDate">
          <td>N/A</td>
        </ng-container>
        <td>
          <button class="btn btn-danger" (click)="deleteUser(user.UserID)">Delete</button>
      </tr>
    </tbody>
  </table>
</div>
