<div class="login-page">
  <h1>Trivia Quiz - Login</h1>

  <form>
    <div class="form-group">

      <label for="email">E-mail: </label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email"/>
      <br>
      <label for="password">Password: </label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" />

    </div>

    <br>

    <button type="submit" class="btn btn-primary" (click)="submitLogin()">Login</button>
  </form>

  <br>

  <app-register-button></app-register-button>

</div>
